body{
  background-color: #E7F6F2;
  color:#395B64;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;

}
.App {
  text-align: center;
  width:100%;
  max-width: 800px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-size: 1rem;
}

span{
  display: block;
  color:#E7F6F2;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  padding:0;
}

.fact-container{padding-inline:0.9rem;
  margin-top:2rem;
  width:18rem;
}

.btn{
  background-color: #395B64;
  padding:2.2rem;
  border: none;
  width:220px;
  height:220px;
  color: #fff;
  font-family: 'Rubik Bubbles', cursive;
  font-size:2rem;
  border-radius: 50%;
  -webkit-box-shadow: 28px 29px 33px -31px rgba(44,51,51,0.75);
  -moz-box-shadow: 28px 29px 33px -31px rgba(44,51,51,0.75);
box-shadow: 28px 29px 33px -31px rgba(44,51,51,0.75);
}

@media (min-width: 800px){
  .fact-container{
    width:40rem;
  }
}
